@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary_backgroundColor-900 text-white;
  }
}

html {
  max-width: 100vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
